<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/favicon-16x16.png"
    />
    <link rel="manifest" href="../public/site.webmanifest" />
    <link rel="stylesheet" href="../public/style.css" />
    <title><%=siteBrand%> | Dashboard</title>
  </head>
  <body>
    <div id="rootContainer">
      <header id="dashHeader">
        <div id="logoAndNav">
          <a href="/"
            ><img
              id="logo"
              src="../public/android-chrome-192x192.png"
              alt="fix logo"
          /></a>
          <%-include("partials/header.ejs")-%>
        </div>
        <span id="date"><%=date%></span>
      </header>
      <div id="hAndMContainer">
        <%if(user){%>
        <h1 id="dashWelcome">Welcome <span><%= user.first_name %></span> to your blogs management dashboard</h1>
        <p> <img
          src="<%=user.profileImage%>"
          alt="author's image"
          id="authorImage"
        /></p>
        <p>Here, you can <span><a href="/create_blog" id="createBtn">create blog</a></span> , update and delete blogs either in draft or published state.</p>
        <p>After creating a blog, move your cursor over the <span id="readMore">Read blog &xrArr;</span> area and click to read the blog.</p>
        <p>You will find the <span>update</span> and <span>delete</span> options on the read blog page.</p>
        <div>
          <main>
            <hr>
            <form action="/dashboard/filter" method="get" id="searchBlogForm2">
              <label for="filter"
                >Filter your blogs by state:</label>
                <select name="filter" id="selectInput2">
                  <option value="">
                    --Select by what state to filter blogs--
                  </option>
                  <option value="draft" name="filter">draft</option>
                  <option value="published" name="filter">published</option>
                  <option value="All" name="filter">All</option>
                </select>
              
              <button type="submit" class="searchAndSort">filter</button>
            </form>
            <hr>
            <ul id="blogList">
              <% for (let i = 0; i < paginatedBlogs.length; i++) { %>
              
              <li>
                <div id="eachBlogContainer">
                  
                      <div  id="timeAndTitle">
                        
                        <%if(passdays[i] >=0 && passdays[i]< 0.5){%>
                          <p id="time"><b>Drafted:</b><%=paginatedBlogs[i].drafted_timestamp%> <span>(today)</span></p> 
                        <%}else if(passdays[i] >=0.5 && passdays[i] < 1.5) {%>
                          <p id="time"><b>Drafted:</b><%=paginatedBlogs[i].drafted_timestamp%> <span>(yesterday)</span></p> 
                       <% }else if(passdays[i] > 30) {%>
                        <p id="time"><b>Drafted:</b><%=paginatedBlogs[i].drafted_timestamp%><span>(<%= Math.floor((passdays[i])/30)%> month(s) ago)</span></p>
                       <%}else if(passdays[i] > 365) {%>
                        <p id="time"><b>Drafted:</b><%=paginatedBlogs[i].drafted_timestamp%> <span>(<%= Math.floor((passdays[i])/365)%> year(s) ago)</span></p>
                       <%}else{%>
                        <p id="time"><b>Drafted:</b><%=paginatedBlogs[i].drafted_timestamp%> <span>(<%= Math.round(passdays[i])%> days ago)</span></p> 
                       <% }%>
                        <a href="/blogs/ownersBlog/<%=paginatedBlogs[i]._id%>" id="otherInfo">
                  
                          <p><span id="tag"><b><%=paginatedBlogs[i].tag%></b></span></p> 
                          <p><b>Title: </b><span id="title"><%=paginatedBlogs[i].title%></span></p>
                          <p id="describe"><%=paginatedBlogs[i].description%></p>
                          <p id="readingTime"><b>Reading time:</b> <%=paginatedBlogs[i].reading_time%></p>
                          <div id="blogAuthor">
                            <img
                              src="<%=user.profileImage%>"
                              alt="author's image"
                              id="authorImage"
                            />
                            <p><%=paginatedBlogs[i].author%></p>
                          </div>
                          <%if(paginatedBlogs[i].state === "draft"){%>
                            <p
                              style="background-color: brown; color: white"
                              class="articleState"
                            >
                              <%=paginatedBlogs[i].state%>
                            </p>
                            <%}else{%>
                            <p
                              style="background-color: green; color: white"
                              class="articleState"
                            >
                              <%=paginatedBlogs[i].state%>
                            </p>
                            <%}%>
                          <p id="readMore">Read blog &xrArr;</p>
                        
                        </a>
                      </div>
                </div>
                <div id="updateAndDelete">
                  <form
                    action="/blogs/updateState/<%=paginatedBlogs[i]._id%>"
                    method="PUT"
                  >
                    <input
                      id="stateInput"
                      type="text"
                      name="state"
                      value="published"
                    />

                    <input
                      type="date"
                      value="0"
                      name="published_timestamp"
                      style="
                        width: 0;
                        height: 0;
                        background-color: inherit;
                        border: none;
                      "
                    />
                    <%if(paginatedBlogs[i].state==="draft"){%>
                    <button
                      id="state"
                      type="submit"
                      formmethod="post"
                      title="click to publish the blog"
                    >
                      publish
                    </button>
                    <%}else{%>
                    <span></span>
                    <%}%>
                  </form>
                </div>
              </li>
              <%}%>
            </ul>
          </main>
        </div>

        <%}else{%>
        <p>Please<a href="/login">login</a></p>

        <%}%>
      </div>

      <ul class="page">
        <%if(skip == 0){%> <%for(let i = 1; i<= maxPage - 1; i++){%>
        <li>
          <a href="http://localhost:6500/dashboard?page=<%=allPages[i]%>"
            ><span style="color: white;">Next &rArr;</span>page <%=allPages[i] + 1%></a
          >
        </li>
        <%}%> <%}%>
      </ul>

      <ul class="page">
        <%if(skip != 0){%>
        <li>
          <a href="http://localhost:6500/dashboard?page=0"><span style="color: white;">&lArr;</span> previous page</a>
        </li>
        <%for(let i = 1; i<= maxPage - 1; i++){%>
          <span style="font-weight: bold;">Next &rArr;</span>
        <li>
          <a href="http://localhost:6500/dashboard?page=<%=allPages[i]%>"
            >page <%=allPages[i] + 1%></a
          >
        </li>
        <%}%> <%}%>
      </ul>
      <footer>
        <p>
          Send us a mail &rBarr;
          <a href="mailto:infotek4you@gmail.com"
            ><img id="gmail" src="../public/gmail_image.jfif" alt="gmail image"
          /></a>
        </p>
        <%-include("partials/footer.ejs")-%>
      </footer>
    </div>
  </body>
</html>
