<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style.css" />
    <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="../public/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="../public/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="../public/favicon-16x16.png"
  />
  <link rel="manifest" href="../public/site.webmanifest" />
    <title><%=siteBrand%> | Published blogs by read count</title>
  </head>
  <body>
    <div id="rootContainer">
      
        <header>
          <div id="logoAndNav">
            <a href="/"><img id="logo" src="../public/android-chrome-192x192.png" alt="liberator logo" /></a>
            <%-include("partials/header.ejs")-%>
          </div>
          <span id="date"><%=date%></span>
        </header>
        <div id="hAndMContainer">
        <main>
          <div id="welcomeContainer">
          <h1 id="dashWelcome">Welcome to the informative world of Technology</h1>
          <p><b>Look:</b> Here's where we share ideas, stories and opinions from the Technology ecosystem.</p>
        </div>
        <hr>
          <form action="/published_blogs/filter" method="get" id="searchBlogForm">
            <label for="filter"
              ><b>Select</b> a blog by <span>author</span> or <span>title</span> or <span>tag</span> and <b>Search</b> with a name:
            
            <select name="filter" id="selectInput">
              <option value="">--Select here--</option>
              <option value="author" name="filter">author</option>
              <option value="title" name="filter">title</option>
              <option value="tag" name="filter">tag</option>
            </select>:
          </label>

            <label for="content" id="search"
              >
              <input
                type="text"
                id="searchInput"
                name="content"
                placeholder="Enter the name of author or title or tag here"
            />
          </label>
            <button type="submit" class="searchAndSort">Search</button>
          </form>

          <hr>
          <hr id="midline">

          <form action="/blogs/sort" method="GET" id="sortBlogForm">
            <label for="sort"
              ><b>Sort</b> the blogs:
            
            <select name="sort" id="selectInput">
              <option value="">---Sort the blogs by:---</option>
              <option value="read_count" name="sort">read_count</option>
              <option value="timestamp" name="sort">timestamp</option>
              <option value="reading_time" name="sort">reading_time</option>
            </select>
          </label>
            <button type="submit" class="searchAndSort">Sort</button>
          </form>
          <hr>
          <ul id="blogList">
            
            <% for (let i = 0; i < paginatedBlogs.length; i++) { %>
            <li>
              <div id="eachBlogContainer">
                <div  id="timeAndTitle">
                 
                  <%if(passdays[i] >=0 && passdays[i]< 0.5){%>
                    <p id="time"><b>Publshed:</b><%=paginatedBlogs[i].published_timestamp%> <span>(today)</span></p> 
                  <%}else if(passdays[i] >=0.5 && passdays[i] < 1.5) {%>
                    <p id="time"><b>Publshed:</b><%=paginatedBlogs[i].published_timestamp%> <span>(yesterday)</span></p> 
                 <% }else if(passdays[i] > 30) {%>
                  <p id="time"><b>Publshed:</b><%=paginatedBlogs[i].published_timestamp%><span>(<%= Math.floor((passdays[i])/30)%> month(s) ago)</span></p>
                 <%}else if(passdays[i] > 365) {%>
                  <p id="time"><b>Publshed:</b><%=paginatedBlogs[i].published_timestamp%> <span>(<%= Math.floor((passdays[i])/365)%> year(s) ago)</span></p>
                 <%}else{%>
                  <p id="time"><b>Publshed:</b><%=paginatedBlogs[i].published_timestamp%> <span>(<%= Math.round(passdays[i])%> days ago)</span></p> 
                 <% }%>
                  
                  <a href="/blogs/readBlog/<%=paginatedBlogs[i]._id%>" id="otherInfo" title="click to read the blog">
            
                    <p><span id="tag"><b><%=paginatedBlogs[i].tag%></b></span></p> 
                    <p><b>Title: </b><span id="title"><%=paginatedBlogs[i].title%></span></p>
                    <p id="describe"><b>Description:</b> <%=paginatedBlogs[i].description%></p>
                    <p id="readingTime"><b>Reading time:</b> <%=paginatedBlogs[i].reading_time%></p>
                    <p id="readCount"><b>Read count:</b> <%=paginatedBlogs[i].read_count%></p>
                    <div id="blogAuthor">
                      <img
                        src="<%=paginatedBlogs[i].user_id[0].profileImage.secure_url%>"
                        alt="author's image"
                        id="authorImage"
                      />
                      <p><%=paginatedBlogs[i].author%></p>
                    </div>
                    <p id="readMore">Read blog &xrArr;</p>
                  
                  </a>
                </div>
              </div>
            </li>

            <%}%>
          </ul>
          <ul class="page">
            <%if(skip == 0){%> <%for(let i = 1; i<= maxPage - 1; i++){%>
            <li>
              <a
                href="http://localhost:6500/Published_blogs?page=<%=allPages[i]%>"
                ><span style="color: white;">Next &rArr;</span> Page <%=allPages[i] + 1%></a
              >
            </li>
            <%}%> <%}%>
          </ul>

          <ul class="page">
            <%if(skip != 0){%>
            <li>
              <a href="http://localhost:6500/Published_blogs?page=0"
                ><span style="color: white;">&lArr;</span>Previous page</a
              >
            </li>
            <%for(let i = 1; i<= maxPage - 1; i++){%>
              <span style="font-weight: bold;">Next &rArr;</span>
            <li>
              <a
                href="http://localhost:6500/Published_blogs?page=<%=allPages[i]%>"
                >Page <%=allPages[i] + 1%></a
              >
            </li>
            <%}%> <%}%>
          </ul>
        </main>
      </div>
      <footer>
        <p>
          Send us a mail &rBarr;
          <a href="mailto:infotek4you@gmail.com"
            ><img id="gmail" src="../public/gmail_image.jfif" alt="gmail image"
          /></a>
        </p>
        <%-include("partials/footer.ejs")-%>
      </footer>
    </div>
  </body>
</html>
