<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/favicon-16x16.png"
    />
    <link rel="manifest" href="../public/site.webmanifest" />
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="../public/style.css" />
    <title><%=siteBrand%> | Blog management board</title>
  </head>
  <body>
    <div id="rootContainer">
      <header>
        <div id="logoAndNav">
          <a href="/"
            ><img
              id="logo"
              src="../public/android-chrome-192x192.png"
              alt="liberator logo"
          /></a>
          <%-include("partials/header.ejs")-%>
        </div>
      </header>
      <div id="hAndMContainer">
        <main>
          <%if(blog && updateMessage != "Blog updated successfully"){%>
          <h1><span><%=blog.title%></span></h1>
          <div id="eachBlogContainer">
            <div><%-blog.body%></div>
          
          <div id="blogAuthor">
            <img
              src="<%=user.profileImage%>"
              alt="author's image"
              id="authorImage"
            />
            <p><span><%=blog.author%></span></p>
          </div>
          </div>
          <form action="/blogs/updateBody/<%=blog._id%>" method="PUT" id="updateForm">
            <label for="body"
              ><h2>Make update to your blog body(Draft or Published) here:</h2>
              <textarea name="content" id="editor"></textarea>
              <script>
                ClassicEditor.create(document.querySelector("#editor"))
                .catch((err)=>{
                  res.render("serverError",{message:err.message})
                })
              </script>
            </label>
            <input
              type="number"
              value="0"
              name="reading_time"
              style="
                width: 0;
                height: 0;
                background-color: inherit;
                border: none;
              "
            />
            <button
              formmethod="POST"
              type="submit"
              id="updateButton"
              title="Your blog will be updated"
            >
              Send
            </button>
          </form>

          <form action="/blogs/deleOneBlog/<%=blog._id%>" method="DELETE" id="deleteBlogForm">
            <button
              id="delButon"
              type="submit"
              formmethod="post"
              title="delete blog"
            >
              <img src="../public/delete_icon.svg" alt="delete" id="delIcon" />
              <figcaption>Delete</figcaption>
            </button>
          </form>
          <%}else if(blog && updateMessage == "Blog updated successfully" ){%>
            <img src="../public/362-3624869_icon-success-circle-green-tick-png.png" alt="success-mark logo" id="successMark">
            <h1 style="color:green"><%=updateMessage%></h1>
            <p><a href="/dashboard" class="submit"  id="authLogin">Dashboard</a></p>
        <%}else if(!blog){%>
          <img src="../public/362-3624869_icon-success-circle-green-tick-png.png" alt="success-mark logo" id="successMark">
          <h1 style="color:green"><%=delMessage%></h1>
          <p><a href="/dashboard" class="submit"  id="authLogin">Dashboard</a></p>
        <%}%>
        </main>
      </div>
      <footer>
        <p>
          Send us a mail &rBarr;
          <a href="mailto:infotek4you@gmail.com"
            ><img id="gmail" src="../public/gmail_image.jfif" alt="gmail image"
          /></a>
        </p>
        <%-include("partials/footer.ejs")-%>
      </footer>
    </div>
  </body>
</html>
