<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/favicon-16x16.png"
    />
    <link rel="manifest" href="../public/site.webmanifest" />
    <link rel="stylesheet" href="../public/style.css" />
    <title><%=siteBrand%> | password reset </title>
  </head>
  <body>
    <div id="rootContainer">
    <header>
      <div id="logoAndNav">
        <a href="/"
          ><img
            id="logo"
            src="../public/android-chrome-192x192.png"
            alt="liberator logo"
        /></a>
        <nav>
          <ul id="navItems">
            <span>Request successful</span>
          </ul>
      </nav>
      </div>
    
    </header>
    
      <div id="hAndMContainer">
        <main>
          <img src="../public/362-3624869_icon-success-circle-green-tick-png.png" alt="success-mark logo" id="successMark">
          <h1 id="message1"><%= message1 %></h1>
          <p><%= message2%></p>
          <p><span><%= message3 %></span></p>
          <%if(message3 == "Go back to the login page"){%>
            <a href="/Login" class="submit" id="authLogin">Login</a>
          <%}else{%>
            <span></span>
          <%}%>
        </main>
      </div>
    </div>
    <footer>
      <p>
        Send us a mail &rBarr;
        <a href="mailto:infotek4you@gmail.com"
          ><img id="gmail" src="../public/gmail_image.jfif" alt="gmail image"
        /></a>
      </p>
      <%-include("partials/footer.ejs")-%>
    </footer>
  </body>
</html>